body{
    min-height: 100vh;
    background-image: url(images/layers.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: cursive;
}
#searchbar{ 
	margin-left: 15%; 
	padding:15px; 
	border-radius: 10px; 
} 

input[type=text] { 
	width: 30%; 
	-webkit-transition: width 0.15s ease-in-out; 
	transition: width 0.15s ease-in-out; 
} 

/* When the input field gets focus, 
		change its width to 100% */
input[type=text]:focus { 
	width: 70%; 
} 

#list{ 
	font-size: 1.5em; 
	margin-left: 90px;
    list-style-type: none; 
} 

.animals{ 
display: list-item;	 
} 
.box_cat{
    background-color: white;
    height:180px;
    width:200px;
    padding:10px 10x 10px 10px;
    padding-left:70px;
    padding-top:30px;
    margin:20px 50px 20px 50px;
    border-radius: 20px;
    float:left;
}
.box_cat p{
    margin-left:35px;
}